body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  margin-top: 50px;
}

.navbar {
  transition: top 0.3s;
  top: 0;
  width: 100%;
}

.navbar-hidden {
  top: -80px;
}

.navbar-brand {
  font-size: 2.5rem;
  margin-left: 60px;
}

.navbar-nav .nav-link {
  font-size: 2rem;
  margin-right: 20px;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-top: 2px solid black;
  font-size: 1.5rem;
}

.dropdown-menu {
  display: none;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background-color: #e6e6fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  margin-top: 0px;
  visibility: hidden;
  position: absolute;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  background-color: #f8f9fa;
  height: 70vh;
  box-sizing: border-box;
}

.hero-text {
  flex: 1;
  text-align: right;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 2rem;
  margin-bottom: 40px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.content-section {
  padding: 20px 0;
}

.profile-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 20px;
}

.profile-detail-header {
  text-align: left;
  margin-bottom: 20px;
}

.profile-detail-content {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.profile-detail img {
  margin-right: 20px;
}

.btn-primary {
  background-color: #5a4b81;
  border-color: #5a4b81;
  border-radius: 50px;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #4a3b71;
  border-color: #4a3b71;
}

.btn-primary:active {
  background-color: #7866a3;
  border-color: #7866a3;
}

.vertical-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  position: relative;
}

.vertical-line {
  border-left: 2px dotted black;
  height: 800px;
  position: relative;
  margin: 20px 0;
}

.vertical-line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.annotation {
  margin-bottom: 20px;
  text-align: center;
  background: #5a4b81;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.end-annotation {
  background: #5a4b81;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

p {
  margin: 0pt;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  .hero-text {
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .hero-image {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 2rem;
    margin-left: 20px;
  }
  .navbar-nav .nav-link {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .hero-text h1 {
    font-size: 2.5rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
